{% extends 'base.html' %}
{% load static %}

{% block title %}
title
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<h1>hello, {{ user.username }}!</h1>
<a href="/logout"><button>Logout</button></a>

<div>
    <form method="POST" action="/">
        {% csrf_token %}
        <h2>Post a Tweet</h2>
        <input name="body" placeholder="twitter is dead"/>
        <input type="submit" value="Post Tweet"/>
    </form>
</div>

{% for tweet in tweets %}
<div>
    <b>{{ tweet.author }}</b> | <i>{{ tweet.created_at }}</i>
    <p>{{ tweet.body }}</p>
    {% if user == tweet.author %}
        <a href="delete?id={{tweet.id}}">delete tweet</a>
    {% endif %}
    <p>
        <a href="like?id={{tweet.id}}">
            {% if user in tweet.likes.all %}
                unlike
            {% else %}
                like
            {% endif %}
        </a> 
    ({{ tweet.likes.count }} &hearts;)</p>
</div>
{% endfor %}

{% endblock %}